@keyframes stretch {
    0% {
      transform: scale(1);
    }
    50%{
        transform: scale(1.05);
        box-shadow:  0 0 5px #000000;
    }
    100%{
        transform: scale(1);
    }

}
.word_div{
     display: flex;
     height: 35px;
     padding: 1px;
     font-size: 20px; 
     width: fit-content;
     border-radius: 10px;
     align-items: center;
     padding-left:5px ;
     padding-right:5px ;

    &:hover{
        border: 3px solid #fffd69;
        animation-name: stretch;
        animation-duration: 1.5s; 
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
    }
}

.clickedClass{
    background-color: rgb(130, 158, 219);
}
